/* background color and border for html */
html
{
    opacity: 0.3;
    transition: opacity 2s;
    background-color: black;
    border: 10px solid red;
    text-align: center;
    font-family: arial;
    padding: 70px;
    margin: 100px;
}

html:hover
{
    opacity: 1;
}

/* colors for brand */
body
{
    font-family: courier;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

h1
{
    font-family: serif;
    text-decoration: underline;
    font-size: 50px;
}

div
{
    width: 50%;
    height: 50%;
}

input
{
    box-shadow: 0 0 0 10px white;
    color: white;
    background-color: black;
    width: 120px;
    height: 70px;
    font-size: 20px
}

img
{
    width: 550px;
    height: 600px;
    align: "middle"
}
